# Deskclock Configuration File

# START_SCREEN determines which view is shown when the clock boots up.
# Options: 'animations' (Weather Animations) or 'camera' (Traffic Camera)
START_SCREEN=animations

WEATHER_URL=http://wttr.in/Vancouver?format=j1
CAMERA_URL=https://trafficcams.vancouver.ca/cameraimages/BurrardCanadaWest.jpg
BOTTOM_CLOCK_UTC_OFFSET=8
CAMERA_GAMMA=2.2
CAMERA_SCALE_MODE=stretch
CAMERA_CROP_TOP=0
CAMERA_CROP_BOTTOM=0
CAMERA_CROP_LEFT=0
CAMERA_CROP_RIGHT=0
